
<md-sidenav-container fxLayout="row">
  <md-sidenav mode="size" opened="true" style="width: 200px;">
    <!-- sidenav content -->
		
		<md-nav-list>
			<md-list-item>
				<md-icon md-list-icon>star</md-icon>
				<a md-line href="..."> New </a>
			</md-list-item>
		 
			<md-list-item>
				<md-icon md-list-icon>sync</md-icon>
				<a md-line href="..."> In progress</a>
			</md-list-item>
		</md-nav-list>
		
  </md-sidenav>

  <!-- primary content -->



	<div fxFlex class="go-projects-container">

			<div *ngIf="projectsTable.selectedRows.length == 0" fxLayout="row" fxLayoutAlign="start center" style="height: 56px;">					
				<span class="body-2" fxFlex>
					
				</span>

				<button md-button color="accent" class="" (click)="add()">
					NEW PROJECT
				</button>
			</div>


			<div *ngIf="projectsTable.selectedRows.length > 0" fxLayout="row" fxLayoutAlign="start center">
				<span class="body-2" fxFlex>
					{{ projectsTable.selectedRows.length }} selected rows
				</span>

				<button md-button class="mat-icon-button" (click)="delete()">
					<md-icon>delete</md-icon>
				</button>
			</div>

			<projects-table></projects-table>
</div>

</md-sidenav-container>