<form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
	<h2 md-dialog-title>
		New project
	</h2>

	<md-dialog-content class="mat-typography">

		<fieldset [disabled]="isSubmitting">


			<div class="go-input-row">
				<md-icon>description</md-icon>
				<md-input-container fxFlex>				
					
					<input mdInput type="text"
								 placeholder="Description"
								 formControlName="description"
								 />
					<md-error>{{ formErrors.description }}</md-error>
				</md-input-container>
			</div>
			
			<div class="go-input-row">
				<md-icon>domain</md-icon>
				<go-contact-autocomplete fxFlex formControlName="organization" placeholder="Organization"></go-contact-autocomplete>
			</div>


	</fieldset>

</md-dialog-content>

<md-dialog-actions>

	<button md-button md-dialog-close color="primary">
		CANCEL
	</button>
	<button md-button type="submit" color="primary">
		SAVE
	</button>
</md-dialog-actions>

</form>