<div class="go-list-container"
		 infiniteScroll
		 [infiniteScrollDistance]="2"
		 [infiniteScrollThrottle]="500"
		 (scrolled)="onScroll()"
		 [scrollWindow]="false"
		 >

	<md-nav-list [dragula]='"list-bag"'>

		<!-- Added the ID for dragula [attr.data-id]="yourModel.id" see https://github.com/valor-software/ng2-dragula/issues/173 -->
		<md-list-item *ngFor="let project of (data | async);" [goSelectionModel]="selectionModel" [goSelectValue]="project" [attr.data-id]="project.id">
			<h3 md-line>{{ project.number }}: {{project.description}}</h3>
			<p md-line>{{project.organization ? project.organization.name : "Internal"}}</p>
		</md-list-item>
	</md-nav-list>
		 

</div>
