


<div class="go-list-container"
		 infiniteScroll
		 [infiniteScrollDistance]="2"
		 [infiniteScrollThrottle]="500"
		 (scrolled)="onScroll()"
		 [scrollWindow]="false"
		 >

	<md-nav-list>

		<md-list-item *ngFor="let project of data | async" [goSelectionModel]="selectionModel" [goSelectValue]="project" >

			<h3 md-line>{{ project.number }}: {{project.description}}</h3>
			<p md-line>{{project.organization.name ? project.organization.name : "Internal"}}</p>

		</md-list-item>
	</md-nav-list>


</div>