


	<md-card>



		<md-toolbar class="go-toolbar-transparent">
			<!--		<button md-button class="mat-icon-button" (click)="back()">
									<md-icon>chevron_left</md-icon>
					</button>-->
			<div fxFlex>{{ project.number }}: {{project.description}}</div>
			<button md-button class="mat-icon-button" (click)="edit(project)">
				<md-icon>edit</md-icon>
			</button>
		</md-toolbar>


		<md-card-content>
			<nav md-tab-nav-bar>
				<a md-tab-link 
					 [routerLink]="['/projects', project.id, 'info']"
					 [active]="this.isActive(['/projects', project.id, 'info'])"
					 >
					 INFO 
			</a>

			<a md-tab-link
				 [routerLink]="['/projects', project.id, 'proposal']"				 
				 [active]="this.isActive(['/projects', project.id, 'proposal'])"				 
				 >
				PROPOSAL
			</a>

			<a md-tab-link
				  [routerLink]="['/projects', project.id, 'team']"				 
				 [active]="this.isActive(['/projects', project.id, 'team'])"	
				 
				 >
				TEAM
			</a>
		</nav>


		<router-outlet></router-outlet>


	</md-card-content>


</md-card>
