<form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
	<h2 md-dialog-title>
		Proposal item
	</h2>

	<md-dialog-content class="mat-typography">

		<fieldset [disabled]="isSubmitting">


			<div class="go-input-row">
				<md-icon>description</md-icon>
				<md-input-container fxFlex>				

					<input mdInput type="text"
								 placeholder="Title"
								 formControlName="title"
								 />
					<md-error>{{ formErrors.description }}</md-error>
				</md-input-container>
			</div>

			<wysiwyg formControlName="content" placeholder="Test html"> </wysiwyg>

			<div class="go-input-row">
				<md-icon>euro_symbol</md-icon>
				
				<md-input-container>		

					<input mdInput type="number"
								 placeholder="Quantity"
								 formControlName="quantity"
								 />
					<md-error>{{ formErrors.price }}</md-error>
				</md-input-container>
				
				<span style="padding: 0 20px;">X</span>
				
				<md-input-container>		

					<input mdInput type="number"
								 placeholder="Unit Price"
								 formControlName="unitPrice"
								 />
					<md-error>{{ formErrors.price }}</md-error>
				</md-input-container>
				
				<md-checkbox formControlName="quantityInHours">Hours</md-checkbox>
			</div>
			
		</fieldset>

	</md-dialog-content>

	<md-dialog-actions>

		<button md-button md-dialog-close color="primary">
			CANCEL
		</button>
		<button md-button type="submit" color="primary">
			SAVE
		</button>
	</md-dialog-actions>

</form>