<md-toolbar color="primary" class="mat-elevation-z1">
	
	<ng-content></ng-content>

<!--	<button md-button class="mat-icon-button">
		<md-icon >menu</md-icon>    
	</button>

	<span style="padding-left: 20px;">Projects</span>

	<span fxFlex >
				<div fxLayout="row" fxLayoutAlign="start center" class="go-search">
					<button type="submit" md-button class="mat-icon-button">
						<md-icon mdPrefix>search</md-icon>
					</button>
				<input placeholder="Search" />
				
				</div>

	</span>

	<button type="submit" md-button class="mat-icon-button">
		<md-icon mdPrefix>search</md-icon>
	</button>-->

	<button md-button class="mat-icon-button" *showAuthed="true">
		<md-icon>apps</md-icon>
	</button>

	<button md-button class="mat-icon-button" *showAuthed="true" [mdMenuTriggerFor]="userMenu">
		<md-icon>verified_user</md-icon>
	</button>

</md-toolbar>


<md-menu #userMenu="mdMenu">
  <button md-menu-item> 
		<md-icon>account_box</md-icon>
		<span>{{ currentUser.username }}</span>
	</button>
  <button md-menu-item (click)="logout()"> 
					<md-icon>exit_to_app</md-icon>
		<span>Logout</span>
	</button>
</md-menu>