/* You can add global styles to this file, and also import other style files */

@import "./theme.scss";


html, body {
	padding:0;
	margin:0;
	height: 100%;
	width:100%;
	background-color: #f1f1f1;
}

.go-layout-fit {
overflow: hidden;
	margin: 0;
  width: 100%;
  height: 100%;
}

.myClass {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}


/*md-sidenav-container {
 @extend .go-layout-fit;
}*/

app-root {
	display:flex;
	
	@extend .go-layout-fit;
}
/*
#layout-content {
	padding: 12px;
	position:relative;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	
}*/

.go-scrollable-vertical{
	overflow-x: hidden;
	overflow-y: scroll;
}



.go-fab-position-bottom-right {
	position: absolute !important;
	bottom: 20px;
	right: 20px;
}

/*.go-position-top-left {
	position: absolute !important;
	top: 0;
	left: 0;
}

.go-position-top-right {
	position: absolute !important;
	bottom: 0;
	right: 0;
}*/


fieldset {
	border: 0;
	padding:0;
	margin:0;
}


.go-input-row {
	display: flex;
	align-items: center;
	.mat-icon {
		color: grey;
    margin-right: 20px;
		margin-bottom: 6px;
    
	}
}

// Import all the tools needed to customize the theme and extract parts of it
@import '~@angular/material/theming';

.go-transparent{
  background-color: transparent !important;
}


$background: map-get($theme, background);
$foreground: map-get($theme, foreground);

.mat-card {
	.mat-toolbar:first-child {
		margin-top: -24px;
		margin-left: -24px;
		margin-right: -24px;
		width: auto;
		
		 background-color: transparent !important;
		 border-bottom: 1px solid mat-color($foreground, divider);
		 color: mat-color($foreground, text);
	}
}


.go-list-panel {
	background: mat-color($background, card);
	color: mat-color($foreground, text);
	width: 400px;
	position:relative;
	

	
	.go-list-container {
		@extend .go-scrollable-vertical;	
	}
}

.go-toolbar-transparent {
	
		background-color: transparent !important;
		 border-bottom: 1px solid mat-color($foreground, divider);
		 color: mat-color($foreground, text);
	
}

.go-list-item-active {
	background-color: #ddd;
}

.go-selected {
	background-color: #ddd;
}


.go-search {
	border-radius: 4px 4px 0 0; background:rgba(255,255,255,0.16);
	margin: 4px 20px;
	height: 100%;
	max-width: 600px;
	width: 100%;
	input {
		background-color: transparent;
		width: 100%;
		height: 100%;
		border: 0;
		padding:16px;
		margin: 0;
		color: white;
		font-size: 16px;
	}
}